<% @page_title = "Admin Users" %>

<div class="admin_users index">
  <h2>Admin Users</h2>

  <%= link_to("Add Admin User", {:action => 'new'}, {:class => 'action new'}) %>

  <table class="listing" summary="Admin User List">
    <tr>
      <th>&nbsp;</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Username</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
    <% @admin_users.each do |admin_user| %>
    <tr>
      <td><%= admin_user.id %></td>
      <td><%= admin_user.first_name %></td>
      <td><%= admin_user.last_name %></td>
      <td><%= admin_user.email %></td>
      <td><%= admin_user.username %></td>
      <td><%= admin_user.created_at %></td>
      <td>
        <%= link_to "Show", {:action => 'show', :id => admin_user.id}, :class => "action show" %>
        <%= link_to "Edit", {:action => 'edit', :id => admin_user.id}, :class => "action edit" %>
        <%= link_to "Delete", {:action => 'delete', :id => admin_user.id}, :class => "action delete" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>